<h1>Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python </li>
    <li>R </li>
    <li>Julia </li>
    </ol>

<b> Objectives  </b>

<ul>
    <li>Python </li>
    <li>R </li>
    <li>Julia </li>
    </ul>

Some of the commonly used libraries used by Data Scientists include:

<ol>
     <li>Pytorch</li>
    <li>seaborn </li>
    <li>pandas </li>
    </ol>

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>  
Author
</h2>
AYAZ